html, body {
    margin: 0;
    padding: 0;
    background-color: #EAF0F4;
}
.head{
    font-family: Inter;
    background-color: #0B2239;
    width: 100%;
    align-items: space-between;
    justify-content: center;
    display: flex;
}

.frame1{
    display: flex;
    background-color: #0B2239;
    text-align: center;
    width: 1200px;
    height: 72px;
    color: white;
    text-align: start;
}

.text1{
    justify-content: center;
    width: 954px;
    height: 72px;
}

.buttons{
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    margin-left: 32px;
    width: 246px ;
    height: 36px;
}

.block1{
    background-color: #2B2627;
    color: white;
    font-family: Inter;
}

.frame2{
    display: flex;
    align-items: space-between;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 72px;
}

.block2{
    display: flex;
    font-family: Inter;
    background-color: #FFFFFF;
    width: 560px;
    height: 72px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: #FFFFFF;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 16px;
}

.frame3{
    display: flex;
    align-items: center;
}

img{
    margin: 8px;
    background: rgba(234, 76, 137, 0.1);
    border-radius: 10px; 
    width: 20px;
    height: 20px;
}

.block3{
    background-color: #26262B;
    border-radius: 8px;
    width: 560px;
    height: 64px;
    margin-top: 16px;
    margin-bottom: 72px;
}

.frame4{
    display: flex;
   flex-direction: row;
   align-items: center;
}

.block4{
width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
}

.frames{
    width: 760px;
    height: 206px;
    margin-bottom: 72px;
}

.frame5{
    width: 360px;
    height: 206px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: rgba(28, 37, 64, 0.95);
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 6px;
    color: white;
    padding: 24px;
}

.frame6{
    width: 360px;
    height: 170px;
    color: #687F8C;
    width: 360px;
    height: 170px;
    background-color: white;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px;
    margin-left: 40px;
}

.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

.frame7{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(186, 226, 255, 0.15) 23.96%, rgba(229, 217, 255, 0.15) 71.87%, rgba(255, 255, 255, 0.15) 100%), #FFFFFF;
    box-shadow: 0px 8px 32px rgba(10, 3, 89, 0.1);
    border-radius: 20px;
    font-family: Inter;
    margin-top: 72px;
    padding: 32px 32px 32px 32px
}

.frame8{
    
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 8px 32px rgba(10, 3, 89, 0.1);
    border-radius: 4px;
    font-family: SF Pro Text;
    margin-top: 72px;
    margin-left: 40px;
    padding-left: 16px;
}